<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.0.1/vuex.js"></script>
  <title>Vuetify</title>
</head>

<body>
  <div id="ep1">
    <h2> The value of your below input (yes! you can change it): {{message}}</h2>
    <input type="text" id="input" v-model="message">
    
    

  </div>
  
  <div id= "ep3">
    <h2> This is Episode 3 TO 5 where you can add name for once only</h2>
    <ul>
      <li v-for="name in names" v-text="name"></li>
    </ul>
    
    <input id="input" type="text" v-model="newName">
    <button :disabled="active" :class="{'is-toggled':isToggled}" :title="title" @click="addName"> Add Name </button>
    
    
 
  </div>
  
</body>

</html>
