input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
}

#ep1 {
  border-radius: 5px;
  background-color: #FFF8DC;
  padding: 20px;
}

#ep3{
  border-radius: 5px;
  background-color: #F5F5DC;
  padding: 20px;
}

.is-toggled{background: green}


