input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
}

#app{
  border-radius: 5px;
  background-color: #F5F5DC;
  padding: 20px;
}

.is-toggled{
  background: #A52A2A
}

button {
  background-color: white; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50x;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
}

label {
    display: inline-block;
    cursor: pointer;
    margin-bottom: 8px;
}

.success {
    color: green;
}
